[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
passlib = "*"
bcrypt = "*"
docutils = "*"
django-enumfields = "*"
django-admin-honeypot = "*"
uwsgi = "*"
psycopg2 = {git = 'https://github.com/WeZZard/psycopg2.git',branch = '2_7_5_FreeBSD'}
gunicorn = "*"
whitenoise = "*"

[dev-packages]

[requires]
python_version = "3.7"
